header{
    background-color: #007bff;
    color: white;
}
.links{
    color:#808080
}
.links:hover{
    color: #afafaf;
}

.logo {
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 8%;
  }
  .logo:hover {
    border-radius: 10%;
    transform: scale(1.1);
  }